:root {
	--EDITOR_RED: 0;
	--EDITOR_GREEN: 0;
	--EDITOR_BLUE: 0;
}

body {
	font-family: "Inter", sans-serif;
	margin: 0;
	background: #151725;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.page {
	padding: 1rem;
}

.color-picker {
	color: white;
	padding: 0 10rem;
	border-radius: 10px;
}

.color-picker .content {
	padding: 5px 10px;
	color: white;
	border-radius: 10px;
	background-color: rgb(119 119 119 / 25%);
	margin: 10px 0;
}

.color-picker .content.no-padding {
	padding: 0 0;
} 

.color-picker .selector {
	position: relative;
	display: flex;
	margin: 10px 0;
	height: 30px;
	justify-content: center;
}

.color-picker .button {
	height: 100%;
	color: white;
	cursor: pointer;
	font-size: 20px;
	line-height: 30px;
	border-radius: 50%;
	margin: 0 5px;
	min-width: 30px;
	width: 30px;
	text-align: center;
	transition: all .5s ease-out;
}

.color-picker .button:hover {
	background-color: rgb(255 255 255 / 15%);
	text-shadow: 0 0 5px;
}

.color-picker .color-range {
	width: calc(100% - 80px);
	-webkit-appearance: none;
	font-size: 20px;
	line-height: 30px;
	height: 30px;
	margin: 0;
	background: black;
	border-radius: 25px;
	outline: none;
}

.color-picker .buttons {
	display: flex;
}

.color-picker .button.validate {
	display: flex;
	position: absolute;
	right: 0px;
	top: 0;
	margin: 0;
	flex: 0 1 auto;
	height: 100%;
	width: 40px;
	cursor: pointer;
	color: white;
	border-radius: 0;
	font-size: 15px;
	line-height: 10px;
	text-align: center;
	transition: all .5s ease-out;
	align-items: center;
	justify-content: center;
}

.color-picker .button.validate:hover {
	background: rgb(21 23 37 / 50%);
}

#range-red {
	background: center / cover no-repeat linear-gradient(to right, rgb(0 var(--EDITOR_GREEN) var(--EDITOR_BLUE)), rgb(255 var(--EDITOR_GREEN) var(--EDITOR_BLUE)));
}

#range-green {
	background: center / cover no-repeat linear-gradient(to right, rgb(var(--EDITOR_RED) 0 var(--EDITOR_BLUE)), rgb(var(--EDITOR_RED) 255 var(--EDITOR_BLUE)));
}

#range-blue {
	background: center / cover no-repeat linear-gradient(to right, rgb(var(--EDITOR_RED) var(--EDITOR_GREEN) 0), rgb(var(--EDITOR_RED) var(--EDITOR_GREEN) 255));
}

.color-picker .color-range::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	border-radius: 25px;
	width: 48px;
	height: 48px;
	cursor: pointer;
	background-color: transparent;
	position: relative;
	top: 0;
	left: 0;
}

.color-picker input::after {
	content: var(--EDITOR_RED);
	z-index: 2;
	width: 100%;
	float: left;
	margin-left: 0%;
}

.color-picker .selector .container {
	position: absolute;
	top: 0px;
	left: 40px;
	right: 40px;
	bottom: 0;
	line-height: 30px;
}

.color-picker .selector .container .value {
	color: black;
	text-align: center;
	width: 30px;
	background: rgb(255 255 255);
	border-radius: 50%;
}

.color-picker input[type=text] {
	background-color: transparent;
	border: none;
	color: white;
	font-size: 20px;
	padding: 0;
	text-align: center;
	margin: 0 5px 0 0px;
	border-radius: 10px;
	-webkit-transition: background-color 200ms ease;
	transition: background-color 200ms ease;
}

.color-picker .title-container {
	display: flex;
	align-items: center;
	line-height: 20px;
	font-size: 20px;
	justify-content: center;
}

.color-picker .title-container .title {
	font-size: 22px;
	line-height: 25px;
	flex: 0 1 auto;
}

.color-picker .title-container .small.title {
	line-height: 20px;
    font-size: 16px;
	flex: 0 1 auto;
}

.color-picker .hex-color .text {
	float: left;
}

.color-picker .hex-color .button {
	float: right;
}

.color-picker input[type="text"]:hover, input[type="text"]:active, input[type="text"]:focus {
	background-color: rgba(255 255 255 / 30%);
	border: none;
	outline: none;
	color: white;
}

.color-picker input[type="text"]::-webkit-input-placeholder {
	text-transform: uppercase;
	color: white;
}

.color-picker .divider {
	display: block;
	margin: 5px 0;
	width: 100%;
	height: 1px;
	text-align: center;
	background: rgb(119 119 119 / 25%);
}

.color-picker .vertical.divider {
    width: 1px;
    height: 100%;
    margin: 0 5px;
}

.presets {
	display: flex;
	flex: 1 1 auto;
	align-content: center;
	justify-content: center;
	padding: 0px;
	flex-wrap: wrap;
}

.preset {
	min-width: 10px;
	width: 10px;
	min-height: 10px;
	height: 10px;
	margin: 0 0px;
	padding: 10px;
	margin-right: 5px;
	background-color: rgba(0 0 0);
	border: none;
	outline: none;
	color: white;
	border-radius: 50%;
}

.custom-palettes {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
	align-content: center;
	justify-content: center;
	padding: 0px;
}

.palette {
	display: flex;
	flex-direction: column;
	flex: 0 1 auto;
	margin: 0 5px;
	justify-content: flex-start;
	padding: 0px;
	align-items: center;
	flex-wrap: wrap;
}

.palette .color-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    background: rgb(119 119 119 / 25%);
    padding: 5px 10px;
    margin: 0 0 5px;
}

.palette .color {
	min-width: 10px;
	width: 10px;
	min-height: 10px;
	height: 10px;
	margin: 0;
	padding: 10px;
	background-color: rgba(0 0 0);
	border: none;
	color: white;
	border-radius: 50%;
}

.palette .color-container .button.remove-color {
	margin: 0px 0px 0px 5px;
	font-size: 16px;
	line-height: 30px;
	margin-top: auto;
	width: 30px;
	height: 30px;
	color: #D72323;
}

.palette .color-container .button.remove-color:hover {
	background-color: transparent;
    color: #d76969;
}

.color-value-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 10px;
	flex-direction: row;
}

.color-value {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 auto;
	font-size: 18px;
	line-height: 20px;
}

.text  {
	color: #FFF;
}

.uppercase {
	text-transform: uppercase;
}

.subtext  {
	color: #a7a7a7;
}

.color-picker .button.add {
	margin-bottom: 5px;
	width: 30px;
	height: 30px;
}

.color-picker .button.delete {
	margin-top: auto;
	width: 100%;
	height: 30px;
	color: #D72323;
}

.color-picker .button.delete:hover {
    background-color: transparent;
    color: #d76969;
}

.top-aligned {
	align-self: flex-start;
}