:root {
	--EDITOR_RED: 0;
	--EDITOR_GREEN: 0;
	--EDITOR_BLUE: 0;
}

body {
	font-family: "Inter", sans-serif;
	margin: 0;
	background: #151725;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.page {
	padding: 1rem;
}

.color-picker {
	color: white;
	padding: 0 10rem;
	border-radius: 10px;
}

.color-picker .content {
	padding: 5px 10px;
	color: white;
	border-radius: 10px;
	background-color: rgb(119 119 119 / 25%);
	margin: 10px 0;
}

.color-picker .content.no-padding {
	padding: 0 0;
}

.color-picker .selector {
	position: relative;
	display: flex;
	margin: 10px 0;
	height: 30px;
	justify-content: center;
}

.color-picker .button {
	height: 100%;
	color: white;
	cursor: pointer;
	font-size: 20px;
	line-height: 30px;
	border-radius: 10px;
	margin: 0 5px;
	min-width: 30px;
	width: 30px;
	text-align: center;
	transition: all .5s ease-out;
}

.color-picker .button:hover {
	background-color: rgb(255 255 255 / 15%);
	text-shadow: 0 0 5px;
}

.color-picker .color-range {
	width: calc(100% - 80px);
	-webkit-appearance: none;
	font-size: 20px;
	line-height: 30px;
	height: 30px;
	margin: 0;
	background: black;
	border-radius: 25px;
	outline: none;
}

.color-picker .buttons {
	display: flex;
}

.color-picker .button.validate {
	display: flex;
	position: absolute;
	right: 0px;
	top: 0;
	margin: 0;
	flex: 0 1 auto;
	height: 100%;
	width: 40px;
	cursor: pointer;
	color: white;
	border-radius: 0;
	font-size: 15px;
	line-height: 10px;
	text-align: center;
	transition: all .5s ease-out;
	align-items: center;
	justify-content: center;
}

.color-picker .button.validate:hover {
	background: rgb(21 23 37 / 50%);
}

#range-red {
	background: center / cover no-repeat linear-gradient(to right, rgb(0 var(--EDITOR_GREEN) var(--EDITOR_BLUE)), rgb(255 var(--EDITOR_GREEN) var(--EDITOR_BLUE)));
}

#range-green {
	background: center / cover no-repeat linear-gradient(to right, rgb(var(--EDITOR_RED) 0 var(--EDITOR_BLUE)), rgb(var(--EDITOR_RED) 255 var(--EDITOR_BLUE)));
}

#range-blue {
	background: center / cover no-repeat linear-gradient(to right, rgb(var(--EDITOR_RED) var(--EDITOR_GREEN) 0), rgb(var(--EDITOR_RED) var(--EDITOR_GREEN) 255));
}

.color-picker .color-range::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	border-radius: 25px;
	width: 48px;
	height: 48px;
	cursor: pointer;
	background-color: transparent;
	position: relative;
	top: 0;
	left: 0;
}

.color-picker input::after {
	content: var(--EDITOR_RED);
	z-index: 2;
	width: 100%;
	float: left;
	margin-left: 0%;
}

.color-picker .selector .container {
	position: absolute;
	top: 0px;
	left: 40px;
	right: 40px;
	bottom: 0;
	line-height: 30px;
}

.color-picker .selector .container .value {
	color: black;
	text-align: center;
	width: 30px;
	background: rgb(255 255 255);
	border-radius: 50%;
}

.color-picker input[type=text] {
	background-color: transparent;
	border: none;
	color: white;
	font-size: 20px;
	padding: 0;
	text-align: center;
	margin: 0 5px 0 0px;
	border-radius: 10px;
	-webkit-transition: background-color 200ms ease;
	transition: background-color 200ms ease;
}

.color-picker .title-container {
	display: flex;
	align-items: center;
	line-height: 20px;
	font-size: 20px;
	justify-content: center;
	flex-wrap: nowrap;
}

.color-picker .title-container .title {
	font-size: 22px;
	line-height: 25px;
	flex: 0 1 auto;
}

.color-picker .title-container .small.title {
	line-height: 20px;
	font-size: 16px;
	flex: 0 1 auto;
}

.color-picker .hex-color .text {
	float: left;
}

.color-picker .hex-color .button {
	float: right;
}

.color-picker input[type="text"]:hover,
input[type="text"]:active,
input[type="text"]:focus {
	background-color: rgba(255 255 255 / 30%);
	border: none;
	outline: none;
	color: white;
}

.color-picker input[type="text"]::-webkit-input-placeholder {
	text-transform: uppercase;
	color: white;
}

.color-picker .divider {
	display: block;
	margin: 5px 0;
	width: 100%;
	height: 1px;
	text-align: center;
	background: rgb(119 119 119 / 25%);
}

.color-picker .vertical.divider {
	width: 1px;
	height: 100%;
	margin: 0 5px;
}

.presets {
	display: flex;
	flex: 1 1 auto;
	align-content: center;
	justify-content: center;
	padding: 0px;
	flex-wrap: wrap;
}

.preset {
	min-width: 10px;
	width: 10px;
	min-height: 10px;
	height: 10px;
	margin: 0 0px;
	padding: 10px;
	margin-right: 5px;
	background-color: rgba(0 0 0);
	border: none;
	outline: none;
	color: white;
	border-radius: 50%;
}

.custom-palettes {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
	align-content: center;
	justify-content: center;
	padding: 0px;
}

.palette {
	display: flex;
	flex-direction: column;
	flex: 0 1 auto;
	margin: 0 5px;
	justify-content: flex-start;
	padding: 0px;
	align-items: center;
	flex-wrap: wrap;
}

.palette .color-container {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	border-radius: 10px;
	background: rgb(119 119 119 / 25%);
	padding: 0px;
	margin: 0 0 5px;
	align-items: center;
	justify-content: center;
	transition: all 500ms linear;
}

.palette .color-container:hover {
	padding: 5px 30px 5px 30px;
}

.palette .color-container .container-move,
.palette .color-container .remove-color {
	visibility: hidden;
	transition: all 0ms linear;
}

.palette .color-container:hover .container-move,
.palette .color-container:hover .remove-color {
	visibility: visible;
}

.palette .color {
	min-width: 15px;
	width: 15px;
	min-height: 15px;
	height: 15px;
	margin: 0;
	padding: 10px;
	background-color: rgba(0 0 0);
	border: none;
	color: white;
	border-radius: 10px;
}

.palette .color-container .button.remove-color {
	display: flex;
	position: absolute;
	top: 0px;
	right: 0;
	bottom: 0;
	height: calc(100% + 0px);
	margin: 0;
	font-size: 16px;
	line-height: 30px;
	width: 30px;
	color: #D72323;
	justify-content: center;
	align-items: center;
}

.palette .color-container .button.remove-color:hover {
	background-color: transparent;
	color: #d76969;
}

.color-value-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 10px;
	flex-direction: row;
}

.color-value {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 auto;
	font-size: 18px;
	line-height: 20px;
}

.text {
	color: #FFF;
}

.uppercase {
	text-transform: uppercase;
}

.subtext {
	color: #a7a7a7;
}

.color-picker .button.add {
	margin-bottom: 5px;
	width: 30px;
	height: 30px;
}

.color-picker .button.delete {
	width: auto;
	height: 30px;
	color: #D72323;
}

.color-picker .button.delete:hover {
	background-color: transparent;
	color: #d76969;
}

.color-picker .container-actions {
	display: flex;
	margin-top: auto;
	width: 100%;
	color: #D72323;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.top-aligned {
	align-self: flex-start;
}

.notice {
	display: block;
	visibility: hidden;
	background: transparent;
	position: relative;
	align-items: center;
	justify-content: center;
	transition: visibility 0s ease 0s, background-color 250ms ease 0s;
	-webkit-user-select: none;
	user-select: none;
}

.notice.active {
	visibility: visible;
}

.notice .title {
	color: rgb(255 255 255);
	line-height: 1.5em;
	font-size: 1.25em;
	text-align: center;
	padding: 5px 0px 0px;
	margin: 0.5em 0px 0px;
}

.notice .countdown {
	content: " ";
	display: block;
	height: 0.5em;
	font-weight: bold;
	position: absolute;
	top: 5px;
	left: 0px;
	right: 0px;
	margin: 0px 10px;
	background: rgb(255 255 255 / 35%);
	border-radius: 2.5px;
	transition: width 1000ms ease 0s;
}

.notice .text {
	line-height: 1.25em;
	font-size: 1em;
	text-align: center;
	padding: 0.5em 0px 1em;
	overflow-wrap: break-word;
}

.notice .content {
	box-shadow: rgb(10, 10, 10) 0px 0px 5px;
	min-width: 15%;
	max-width: calc(30% - 30px);
	text-align: center;
	border-radius: 5px;
	background: rgb(119 119 119 / 25%);
	position: fixed;
	bottom: 5px;
	right: 5px;
	padding: 0px 10px;
}

.notice:not(.active) .content,
.notice:not(.active) * {
	line-height: 0;
	font-size: 0px;
	background: transparent;
	box-shadow: none;
	visibility: hidden;
}

.color-picker .container-move {
	position: absolute;
	top: 0px;
	left: 0;
	height: calc(100% + 0px);
}

.color-picker .container-move .button.up {
	display: flex;
	height: 50%;
	border-radius: 10px;
	font-size: 16px;
	line-height: 16px;
	margin: 0;
	justify-content: center;
	align-items: center;
}

.color-picker .container-move .button.down {
	display: flex;
	height: 50%;
	border-radius: 10px;
	font-size: 16px;
	line-height: 16px;
	margin: 0;
	justify-content: center;
	align-items: center;
}

.palette .color-container.first-color .container-move .button.up {
    visibility: hidden !important;
}

.palette .color-container.last-color .container-move .button.down {
    visibility: hidden !important;
}

.color-picker .button.copy {
	margin-bottom: 0px;
	width: 30px;
	height: 30px;
}